# -*- mode: yaml -*-
# vi: set ft=yaml :

---
# Nugrant configuration file (https://github.com/maoueh/nugrant)
# Rename this file to: .vagrantuser
# This configuration can also be inherited by multiple projects if placed at:
# ~/.vagrantuser

virtualbox:
  name: 'development-environment'
  gui: true
  cpus: 2
  vram: 64
  accelerate3d: off
  memory: '4096'
  clipboard: bidirectional
  draganddrop: bidirectional

# Skip certain playbook tags (Prevent provisioning unwanted functionality)
ansible:
  skip_tags:
    - gui
git_user:
  name: ~
  email: ~
  force: false # Force overwrite of current config
java:
  version: '8'              # can be specific: '8u192'
  install_dir: '/opt/java'
  license_declaration: ''
  # Uncomment to accept Oracle's licensing (Required to install Java)
  # license_declaration: 'I accept the "Oracle Binary Code License Agreement under the terms at http://www.oracle.com/technetwork/java/javase/terms/license/index.html'
maven:
  version: '3.6.0'
  install_dir: '/opt/maven'

proxy:
  enabled: false
  http: 'http://example.com:3128/'
  https: 'http://example.com:3128/'
  ftp: 'http://example.com:3128/'
  no_proxy: 'localhost,127.0.0.1'
timezone: 'Europe/London'
locales:
  default: 'en_GB.UTF-8'
  present:
  - 'en_GB.UTF-8'
  - 'en_US.UTF-8'
keyboard:
  model: 'pc105'
  layout: 'gb'
  variant: ''
